<h2 class="page_header"><%= @user.username %></h2>
<div class="page_subheader signup_subheader_text"></div>

<div class="profile-holder">

	<div class="c1 general-info-edit">

	</div>

	<div class="c2 password-change">

	</div>

</div>