<h2 class="page_header"><%= @user.username %></h2>
<div class="page_subheader signup_subheader_text">Created on: <%= @user.created_at.strftime("%m/%d/%Y") %></div>

<div class="profile-holder">

	<div class="c1 general-info-edit">

		<% if current_user.admin? %>
			<% @reminders.each do |reminder| %>
				<%= reminder.inspect %>
			<% end %>
		<% end %>
		
	</div>

	<div class="c2 password-change">

	</div>

</div>