<h1>Listing All Events</h1>

<%= link_to "Create a new event", new_event_path %>

<table>

	<% events = Event.all %>

	<% events.each do |event| %>
		<tr>
			<td><%= event.name %></td>
			<td><%= event.organization %></td>
		</tr>
	<% end %>

</table>

<% if events.size == 0 %>
	<em>No events found</em>
<% end %>