<h1>Listing All Events</h1>

<table>

	<% events = Event.all %>

	<% events.each do |event| %>
		<tr>
			<td><%= event.name %> </td>
			<td><%= event.description %></td>
			<td><%= event.location %></td>
			<td><%= link_to "More Info", event %></td>
		</tr>
	<% end %>

</table>

<% if events.size == 0 %>
	<em>No events found</em>
<% end %>